/* Подключаем шрифт VT323 */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Глобальные переменные */
:root {
    --primary-color: #ffcc00;
    --secondary-color: #ffd400ab;
    --tertiary-color: #ffd40040;
    --background-color: #111;
    --text-color: #efff00;
    --border-color: #141414;
    --hover-color: #ffcc00;
    --font-family: 'Press Start 2P', monospace;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    font-size: 17px;
    line-height: 40px;
    
}

@media (max-width: 1024px) {
    :root {
        font-size: 12px;
        line-height: 30px;
    }
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tooltip {
    display: none;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    cursor: url(./assets/mouse.svg), auto;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
    mask-size: 100% 2px;
    text-shadow: 0 0 0.1rem;
    box-shadow: inset 0px 0px 2rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    background-size: 100% 100%;
}

hr {
    margin: 15px 0;
}

/* Стили для заголовка */
header {
    width: 100%;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid var(--secondary-color);
    text-transform: uppercase;
    animation: flicker 1.5s infinite;
}

/* Анимация мигания */
@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

/* Стили для секций */
section {
    width: 100%;
    color: var(--text-color);
    padding: 20px;
    margin: 20px 0;
    border: 3px solid var(--primary-color);
    border-radius: 0;
    box-shadow: 0 0 10px var(--primary-color);
}

/* Навигация */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    flex-wrap: wrap;
}

nav ul li {
    margin-top: 10px;    
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    border: 2px solid var(--border-color);
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
    border-color: var(--primary-color);
}

/* Контейнер вкладок */
.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--tertiary-color);
    padding: 10px;
}

.style-switcher .switch-button, .tab-button {
    font-family: var(--font-family);
    flex: 1;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    transition: all 0.3s;
    cursor: pointer;
}

.style-switcher .switch-button:hover, .tab-button:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}

.tab-button.active {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
}

/* Контент вкладок */
.tab-content {
    display: none;
    padding: 20px;
    background: var(--background-color);
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 15px var(--primary-color);
}

.tab-content.active {
    display: block;
}

/* Стили для таблиц */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--text-color);
}

.big-table {
    overflow-x: scroll;
}

thead th {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: var(--tertiary-color);
}

tbody td, tbody th {
    padding: 10px;
    border: 1px solid var(--border-color);
}

/* Эффект наведения на строки таблиц */
tbody tr:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}

/* Стили для футера */
footer {
    width: 100%;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 15px;
    border-top: 3px solid var(--secondary-color);
}

#footer-placeholder {
    width: 100%;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .tab-container {
        flex-direction: column;
    }

    .tab-button {
        margin: 5px 0;
    }
}

/* Стили для основного контента */
main {
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    max-width: 1380px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 3px solid var(--primary-color);
    border-radius: 0;
    box-shadow: 0 0 10px var(--primary-color);
    overflow: hidden;
}

/* Стили для заголовков */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    color: var(--secondary-color);
}

/* Стили для статей */
article {
    background-color: var(--background-color);
    border: 3px solid var(--primary-color);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--primary-color);
    color: var(--text-color);
}

/* Стили для фильтров */
.filters {
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
}

.filters label {
    font-weight: bold;
    margin-right: 10px;
}

/* Стили для временной шкалы */
.timeline {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

.timeline ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.timeline ul .year {
    padding: 10px 20px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.timeline ul .year:hover,
.timeline ul .year.active {
    background-color: var(--hover-color);
    color: var(--background-color);
    font-weight: bold;
}

/* Стили для контейнера событий */
#events-container {
    margin-top: 20px;
    background: var(--background-color);
    padding: 20px;
    border: 3px solid var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--primary-color);
}

/* Стили для событий */
.event {
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid;
    color: var(--text-color);
}

.event.political {
    border-color: #007bff;
    background-color: #1a1a1a;
}

.event.scientific {
    border-color: #28a745;
    background-color: #1a1a1a;
}

.event.catastrophe {
    border-color: #dc3545;
    background-color: #1a1a1a;
}

/* Стили для карты */
#mapCanvas {
    display: block;
    margin: 20px auto;
    border: 1px solid var(--border-color);
    width: 80%;
    height: 500px;
}

/* Стили для информационной панели */
#info-panel {
    text-align: center;
    margin-top: 20px;
    color: var(--text-color);
}

#info-list {
    list-style: none;
    padding: 0;
}

/* Стили для нумерованных и маркированных списков */
section ol,
section ul {
    margin-bottom: 25px;
    padding-left: 55px;
    color: var(--text-color);
}

section ol li,
section ul li {
    margin-bottom: 15px;
}

/* Стили для формул */
.formula-container {
    text-align: center;
    margin: 1em 0;
    display: flex;
    color: var(--text-color);
}

.formula {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Стили для легенды */
.legend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    color: var(--text-color);
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}

.legend-color.political {
    background-color: #007bff;
}

.legend-color.scientific {
    background-color: #28a745;
}

.legend-color.catastrophe {
    background-color: #dc3545;
}

.legend-label {
    font-weight: bold;
}

/* Стили для контейнера эмблемы */
.emblem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin: 20px auto;
    overflow: hidden;
}

/* Стилизация эмблемы */
.emblem {
    border: 2px solid var(--primary-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Адаптивные стили для эмблемы */
@media (max-width: 768px) {
    .emblem-container {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .emblem-container {
        width: 60px;
        height: 60px;
    }
}

/* Стили для внутренних вкладок */
.inner-tab-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: var(--tertiary-color);
    padding: 10px;
}

.inner-tab-button {
    font-family: var(--font-family);
    flex: 1;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    transition: all 0.3s;
    cursor: pointer;
}

.inner-tab-button:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}

.inner-tab-button.active {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
}

.inner-tab-content {
    display: none;
    padding: 20px;
    background: var(--background-color);
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 15px var(--primary-color);
}

.inner-tab-content.active {
    display: block;
}

/* Добавленные стили */
header,
footer {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

section {
    height: 100%;
    overflow: hidden auto;
    margin: 1rem 0;
}

.terminal-init {
    font-family: monospace;
    color: var(--text-color); 
    background-color: var(--background-color);
    padding: 20px;
    border: 1px solid var(--text-color);
    margin: 20px 0;
}

.terminal-text {
    opacity: 0;
    animation: fadeIn 10s forwards; /* Увеличиваем время анимации появления текста */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Анимация точек */
#init-dots::after,
#loading-dots::after,
#scanning-dots::after {
    content: '';
    animation: dots 3s infinite; /* Увеличиваем время анимации точек */
}

@keyframes dots {
    0%, 20% {
        content: '.';
    }
    40% {
        content: '..';
    }
    60% {
        content: '...';
    }
    80%, 100% {
        content: '';
    }
}

p, h1, h2, h3, h4, h5, h6, .legend-label, a, button, td {
    transform: scaleY(1.5);
}